
.center{min-height:100%; height:100%\9; width: 1000px; margin: 0 auto; text-align:left\9; width:1000px\9; margin-top:10px; }
 
.right{width: 840px; float: right;}
.c21{margin-bottom: 10px;}
 
.xia{width: 840px; height: 195px; background: #f2f2f2; overflow: hidden;}
.xia .p1{width: 800px; display: block; float: left; height: 25px;; line-height: 35px; margin-top:15px;}
.xia .p1 span{width: 90px; height: 30px; line-height: 30px; display: block; float: left; font-size: 13px; text-align: right; padding-right:5px;}
.xia .p1 input{width: 165px; height: 25px; line-height: 25px; float:left; border:1px solid #c8c8c8; }
.xia .p1 .rl{width: 165px; height: 25px; line-height: 25px; float:left; border:1px solid #c8c8c8;}
.xia .p1 i{display: block; float:left; width:30px; height: 25px; line-height: 25px; text-align:center;}
.xia .p1 select{width: 170px; height: 30px; line-height: 28px; float:left; border:1px solid #c8c8c8;}

.xia .p2{float: right; margin-right:50px; margin-top:5px; display: block; }
.xia .p2 button{ width: 65px; height: 23px; border:1px solid #c8c8c8; border-radius: 5px; background: url(../images/img_btn.png) repeat-x;font-size: 14px; cursor: pointer;}

.xia .p3{float:left; margin-left:50px; margin-top:5px; display: block; }
.xia .p3 button{ width: 65px; height: 23px; border:1px solid #c8c8c8; border-radius: 5px; background: url(../images/img_btn.png) repeat-x;font-size: 14px; cursor: pointer;}

.tb-void{width:100%;overflow:hidden; margin-top: 10px;}
.tb-void a{color:#005ea7;}
.tb-void a:hover{text-decoration:none;}
.tb-void table{border-collapse:collapse;border:solid #ddd8ce;border-width:0 1px 1px 1px;} 
.tb-void th{background:#f7f7f7;height:33px;color:#666666;font-weight:normal;text-align:center; border-top: 2px solid #f98a4d;}
.tb-void td{border:1px solid #ddd8ce;padding:5px 4px;text-align:center; word-wrap:break-word; word-break:normal; word-break:break-all; line-height: 18px;}
 

.tr-th{background:#f9f9f9; position:relative;}
.tr-th td{line-height: 25px;}
.tr-th span{display:inline-block;*display:inline;*zoom:1;margin-right:10px;overflow:hidden;vertical-align:middle;height:24px;line-height:24px;float:left;}
.tr-th .fl{width:120px;}
.tr-th .fc{width:200px;}
.tr-th .fr{width:400px;overflow: hidden; text-align: left;}
.tr-th .tcolr{color:#666666; display:inline-block;*display:inline;*zoom:1;margin-right:10px;overflow:hidden;vertical-align:middle;height:24px;line-height:23px;float:right;}
.lyan {border: none; display: inline-block; width: 75px; height: 20px; line-height: 20px; background: #FF9C2B; color: #FFF; border-radius: 3px; cursor: pointer;}
.tr-th i{color:#ff4800;}
.goods-list{padding:10px 10px 10px; clear: both;}

.tb-void  .qu{margin: 15px 0 10px 10px;  width:300px ;}
.tb-void  .qu a{float: left; display: block; color:#ffffff; margin-right: 10px; position: relative;}
.tb-void  .qu a span{display: block;float: left; padding:3px 5px; border-radius:3px;} 
.tb-void  .qu a span.at{background: #ffa07c;}
.tb-void  .qu a span.ac{background: #7CBEFF;}
.tb-void  .qu a span.ah{background: #967CFF;}


.goods-list li{position:relative;float:left; width:62px ; height:62px;margin:0 10px 0 0;}
.goods-list .goods-box{position:absolute; width:62px; height:62px;border:1px solid #fff;}
.goods-list .goods-pic{width:60px;height:60px;float:left;}
.goods-list .goods-txt{margin-left:65px; visibility:hidden; text-align: left;}
.goods-list .goods-txt .sku,.amount{display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.goods-list li:hover .goods-box{background-color:#fff;width:215px;border-color:#FFC8C8;z-index:4;}
.goods-list li:hover .goods-txt{visibility:visible}
.goods-list li:hover .goods-txt span{display:block;line-height:30px}

.order-doi a{display: block; width: 80px; text-align: center; line-height: 25px; height: 25px;}
.order-doi .refund{background: #ff9c2b; display: inline-block; color:#ffffff; border-radius:3px;}
/*留言框*/
.reply{line-height:18px; width:300px;padding:10px;background-color:#fff;z-index:999;border:4px solid #ff9c2b;  right:10px; top:40px; z-index:99999; position: absolute; }
.reply:before{content:'';position:absolute;right:30px;top:-13px;border-width:0 10px 10px 10px;border-color:#ff9c2b transparent;border-style:solid}
.reply:after{content:'';position:absolute;right:30px;top:-8px;border-width:0 10px 10px 10px;border-color:#fff transparent;border-style:solid}
.reply-close{position:absolute;top:10px;right:10px;width:13px;height:13px;background:url(../images/reply_close.png) no-repeat;cursor:pointer}
.reply-txt{display:block;width:290px;height:110px;  padding:2px;border:1px solid #ccc;resize:vertical; resize:none;}
.reply-btn{float:right;width:94px;height:34px;margin:0;padding:0;font-family:"Microsoft Yahei";line-height:34px;color:#fff;background-color:#fd9502;border:0;cursor:pointer}

 
.alert_user2{display: none; font-family: 微软雅黑;}
.alert_user2 .w{width: 425px; height:auto; background: #ffffff; position:fixed; top:30%; left:50%;margin-left:-200px;  border-radius: 5px; z-index: 99;}
.alert_user2 .bg{position: fixed;top:0;left:0;right:0; width: 100%;height: 100%; background: #000; filter:alpha(opacity=10); -moz-opacity:0.2;-webkit-opacity:0.2; opacity:0.2;z-index: 9;}
.alert_user2 .w .box1{width: 400px; margin-top:10px;}
.alert_user2 .w .box1 img{float: right; cursor: pointer;}
.alert_user2 .w .box3{ text-align: center;}
.alert_user2 .w .box3 p{display: block; width:400px; height:40px;}
.alert_user2 .w .box3 h2{margin-bottom:20px;line-height: 40px; font-size: 16px;border-bottom:1px solid #d5dce2;}
.alert_user2 .w .box3 .sh{display: block; width: 200px;  float:left; height: 30px; line-height:18px; }
.alert_user2 .w .box3 .sh input{vertical-align: top;}
.alert_user2 .w .box3 .tex{line-height: 22px; height:80px; color:green; margin-top:10px;}
.bt1{width: 90px; height: 28px;  background: url(../images/close1.jpg) repeat-x; border: none; margin: 10px 0 0 0; color: #ffffff; border-radius: 3px;}

.window{ width:290px; background-color:#DDD8CE; position:absolute; padding:2px; margin:5px; display:none; } 
.content{ height:220px; background-color:#FFF; font-size:14px; overflow:auto; } 
.title{ padding:2px; color:#000; font-size:12px; } 
.title img{ float:right;} 

.log-c2 .item{width:100%;margin-top:5px; float:left;}
/* .log-c2 span{width: 90px; line-height: 30px; display: block; float: left; font-size: 13px; text-align: right; padding-right:5px;}
 */.log-c2 input{width: 170px; height: 25px; line-height: 25px; float:left; border:1px solid #c8c8c8; }
.log-c2 select{width: 170px; height: 30px; line-height: 28px; float:left; border:1px solid #c8c8c8;}
.log-c2 button{ width: 65px; height: 30px; border:1px solid #c8c8c8; border-radius: 5px; background: url(../images/img_btn.png) repeat-x;font-size: 14px; cursor: pointer;}
.log-c3 {text-align: center;}

