body {
	   font: 12px/150% Arial, Verdana, "\5b8b\4f53";
       width:100%\9;
       text-align:center\9;
    }


.center{
	min-height:100%;
    width: 1000px;
	margin: 0 auto;
	text-align:left\9; 
	width:1000px\9;  
	margin:0 auto\9; 
	margin-top:10px;
	}
.sr{min-width:90px; height:25px; line-height:25px\9; float: right;  margin:5px 10px 0 0; background:#f60; border-radius: 2px; border:none; color:#ffffff; cursor: pointer;}
.alert_user3 .w{width: 400px;  height:auto; background: #ffffff; position:fixed; top:30%; left:50%;margin-left:-200px;  border-radius: 5px;z-index: 99;}
.alert_user3 .bg{top:0; left:0; position: fixed; width: 100%;height: 100%;background: #000;filter:alpha(opacity=10); -moz-opacity:0.2;-webkit-opacity:0.2; opacity:0.2;z-index: 9;}
.alert_user3 .w .box1{width: 375px; height: 34px; margin:10px 0 0 10px; line-height: 34px;}

.alert_user3 .w .box1 img{float: right; cursor: pointer;}
.alert_user3 .w .box3{width: 380px; border:1px solid #c7c7c7; margin-left:5px;}
.alert_user3 .w .box3 p{word-wrap:break-word; text-indent: 24px; width: 370px; height:200px; font-size:13px; font-family: 微软雅黑; line-height:25px;  display: block; overflow: auto; display: block; padding:0 5px 0 5px;}


.center .c2{width: 840px;float:right;}
.center .c2 .title{border:1px solid #e2e9ee; height:28px;line-height: 30px;padding-left: 20px;}
.center .c2 p{font-size: 12px;color: #666;}
.center .c2 .title .c1{color: #336699;font-weight: bold;}


.c21{height:auto;}
.center .c2 .c22 .xia{height:195px; background-color: #f2f2f2; overflow:hidden; margin:10px 0 5px 0;}
.center .c2 .c22 .xia strong.sk{margin-left:15px;}
.center .c2 .c22 .xia strong.st{margin-left:21px;}
.center .c2 .c22 .xia strong.sv{margin-left:60px;}
.center .c2 .c22 .xia .p1{width: 800px; height: 25px; margin:20px 0 15px 35px; line-height:25px;}
.center .c2 .c22 .xia .p1 input{width: 163px; height: 23px; border:1px solid #c8c8c8;}
.center .c2 .c22 .xia .p1 select{width: 120px; height: 26px; border:1px solid #c8c8c8;}
.center .c2 .c22 .xia .p5{width: 800px; height: 25px; margin:20px 0 15px 35px; line-height:25px;}
.center .c2 .c22 .xia .p5 select{width: 120px; height: 26px; border:1px solid #c8c8c8;}
.center .c2 .c22 .xia .p3{float: right; margin-right:60px; display: block; }
.center .c2 .c22 .xia .p3 button,#czhi{float:left;display:block;width: 65px; height: 25px;margin:0 5px; line-height: 23px;color:#000; text-align:center;border:1px solid #c8c8c8; border-radius: 5px; background: url(../../images/img_btn.png) repeat-x; font-size: 14px; cursor: pointer;outline:none;}
#czhi{height:23px;}
#czhi:hover{color:#000;}
.center .c2 .c22 .xia .p3 a:hover{color: #1b7389; text-decoration: underline;}



.center .c3{ line-height: 33px;}
.center .c3 .k_box p{text-align: center;float: left;color: #000;}
.center .c3 .k1{width: 280px;}
.center .c3 .k2{width: 100px;}
.center .c3 .k3{width: 100px;}
.center .c3 .k4{width: 100px;}
.center .c3 .k5{width: 100px;}





.bought-table p span{margin-left:90px;}
.bought-table col.select{width:20px;text-align:center;}
.bought-table col.baobei{width:200px;}
.bought-table col.price{width:100px;}
.bought-table col.stock{width:100px;}
.bought-table col.sales{width:100px;}
.bought-table col.release-time{width:100px;}
.bought-table col.trade-operate{width:100px;}
.bought-table .col-name{ 
	border: 1px solid #e1e8ee; 
	line-height:38px; 
	background:#f2f2f2;
}
.bought-table .sep-row{height: 10px;}
.bought-table  .col-name th {
    color: #000;
    text-align: center;
    font-weight:normal;
}
.bought-table .all-selector, .bought-table .selector {
	width:14px;height:14px;
    margin: 2px 5px;
}
.bought-table tbody td i{ }
.bought-table tbody td span{
    color: #f60;
    font-weight: 700;
}
.bought-table tbody .order-hd {
     background:#f2f2f2;
     border: 1px solid #e1e8ee;
     border-bottom:none;
     line-height: 39px;
     height: 39px;
     font-size:13px;
     font-family: Arial;
}
.bought-table tbody .order-hd td .selector{
	
}
.bought-table .order-bd{
	line-height:20px;
	font-size:13px;
	height:110px;
	font-family: Arial;
}
.bought-table .order-bd td {
	border: 1px solid #e1e8ee;
	border-top:none;
    overflow: hidden;
    padding: 10px 5px;
    text-align: center;
    vertical-align: middle;
    
}
.bought-table .order-bd .baobei {
    padding: 15px 0 10px 15px;
    text-align: left;
    width:200px;
}
.bought-table .order-bd .baobei .pic {
    border: 1px solid #e9e9e9;
    display: inline;
    float: left;
    margin-right:20px;
   
}
.bought-table .order-bd .baobei .pic img {
	width: 80px;
    height: 80px;
}
 .bought-table .order-bd .baobei .b1 span{
	width:200px;
	color:#ff4900;
	display: block;
} 
.bought-table .order-bd .baobei .desc {
    display: inline;
    float: left;
    overflow: hidden;
    width: 105px;
    height:80px;
    line-height:20px;
    word-wrap: break-word;
}
.bought-table .order-bd .baobei .desc i{line-height:20px;}
.bought-table .order-bd .baobei .baobei-name {
    line-height: 18px;
    margin-bottom: 5px;
    overflow: hidden;
}

.bought-table .order-bd span{
	line-height:20px;
    color: #ff4900;
    font-weight: bold;
}

.bought-table .order-bd .baobei .pic img {
    max-height: 80px;
    width: 80px;
}
.bought-table img {
    vertical-align: middle;
}
.bought-table .order-bd .item-operate .tm-btn, .bought-table .order-bd .trade-operate .tm-btn {
    display: inline-block;
}
.bought-table .order-bd .trade-status a, .bought-table .order-bd .trade-operate a {
    display: block;
    margin-bottom: 4px;
}
.trade-status .tm-h {
    color: #f40;
}
/*.bought-table .tm-skin-blue {
    background-color: #66b6ff;
    font-weight: 700;
    color: #fff;
}*/
.bought-table .tm-btn {
	clear:both;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    height: 20px;
 	width:60px;
    text-align: center;
    vertical-align: middle;
    color: #404040;
    overflow: hidden;
    border: 1px solid #aaa;
    background: url("../../images/maichu-btn.jpg") repeat-x scroll 0 0 #ddd;
    font-family: Arial;
}


.fb{margin-left:20px; margin-left:25px!important;  border:none;  width:100px; width:110px!important; height:25px; background: none;}


/**lightbox**/
/*.lightbox{display:none;position:fixed;top:0;left:0;z-index:10000000;width:100%;height:100%;}*/
.lightbox{display:none;position:fixed;left:0;top:0;height:100%;height:100vh;width:100%;width:100vw;text-align:center;z-index:1000;}
.lightbox:after{content:" ";display:inline-block;vertical-align:middle;text-align:center;width:0;height:100%;}
.lightbox-overlay{position:fixed;top:0;left:0;z-index:10000001;width:100%;height:100%;background:#000;border:0;filter:alpha(opacity=15);opacity:.15}
/*.lightbox-box{position:absolute;margin:auto;top:0;left:0;bottom:0;right:0;z-index:10000002;overflow:hidden;padding:0;background-color:#fff;border:4px solid rgba(0,0,0,.1);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}*/
.lightbox-box{position:relative;display:inline-block;z-index:10000002;vertical-align: middle;overflow:hidden;padding:0;text-align:left;background-color:#fff;border:4px solid rgba(0,0,0,.1);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.close-box{position:absolute;top:5px;right:5px;width:23px;height:23px;background:url(../../images/close.jpg) no-repeat;cursor:pointer;}
.lightbox-box-hd{height:40px;padding:0 10px;background-color:#f5f5f5;}
.lightbox-box-hd h2{font-size:14px;line-height:40px;}
.lightbox-box-bd{margin:0 20px;padding-top:10px}
.lightbox-box-bar{height:40px;margin:0 20px;}
.lightbox-btn{display:inline-block;width:90px;height:28px;margin:0;padding:0;text-align:center;line-height:28px;border:none;outline:none;cursor:pointer;border-radius:2px;}
.true-btn{background:url(../../images/close1.jpg) repeat-x;color:#fff;}
.true-btn:hover{color:#fff;}
.false-btn{background:url(../../images/close2.jpg) repeat-x left bottom;border:1px solid #e4e4e4;}
.none{display:none;}
.goout-text {
    height: 160px;
    margin: 10px 0;
    width: 520px;
}

.order-hd .ss,.order-hd .sr{float:right;display:inline-block;margin-right:30px;background:0;color:#f00}
.order-hd .sr{cursor:pointer;border:0;outline:none;}